body {
    background-color: #3e6a91;
}



.uploader {
    width: 1080px;
    height: 248px;
    background-color:midnightblue  ;
    border: 3px solid black;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: 20px;
    left: 200px;
}
.uploader h1 {
    color: white;
   font-size: 45px;
   text-align: center;
   margin-top: 51px;
}




.uploader input[type="file"] {
    padding-left: 260px;
    padding-top: 3px;
    width: 304px;
    
    color: white;
    font-size: x-large;
}
.uploader button {
    color: white;
    background-color: red;
    width: 124px;
    height: 39px;
    border-radius: 5px;
    font-size: 28px;
    margin-left: 78px;
    font-weight: 400;
    font-style: normal;
} 
.file {
    text-align: center;
    color: white;
    text-transform: uppercase;
} 
