
{% extends "base.html"%}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/4c0d3b394a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/css/signup.css">
    <script src="/static/js/signcap1.js"></script>
    <title>Document</title>
</head>
<body>
<div class="background-signup">
    
    <div class="container-signup">  <!-- main container-->
        <div class="item-signup">
           <h2 class="logo-signup">Engineer <span>Bhaiya</span></h2>
        <div class="text-item-signup">
            <h2>Welcome! <br><span>
                To Our Traval & Trips
            </span></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, repellendus?</p>
            <div class="social-icon-signup">
                <a href="#"><i class='bx bxl-facebook'></i></a>
                <a href="#"><i class='bx bxl-twitter'></i></a>
                <a href="#"><i class='bx bxl-youtube'></i></a>
                <a href="#"><i class='bx bxl-instagram'></i></a>
                <a href="#"><i class='bx bxl-linkedin'></i></a>
            </div>
        </div>
        </div>
        <div class="signup-section">
            <form class="singup-form" method="post">
                {% csrf_token %}
                <div class="signa">
                <label for="user_name">User name </label>
                <input type="text" name="user_name" value="" placeholder="Enter the user name " required/>
                </div>
                <div class="signemail">
                <label for="email">Email</label>
                <input type="Email" name="email" value="" placeholder="enter the email "  required/><br>
                </div>
                <div class="signpass">
                <label for="password">Paasword</label>
                <input type="password" name="password" value="" placeholder="enter the password" required/>
                
                <div class="signbutton">
                <button type="submit" name=""><label>Sign up</label> </button><br>
                <button><i class="fa-brands fa-square-google-plus"></i><label>Sign up with</label> <a href="#"><b>Google</b></a></button><br>
                <button><i class="fa-brands fa-square-facebook"></i><label>Sign up with</label> <a href="#">Facebook</a></button><br>

                <button><i class="fa-regular fa-envelope-circle-check"></i><label>Sign up with</label> <a href="#"><b>Email</b></a></button><br>
                </div>
                <div class="signall">
                <label>Aleady have an account?<a href="http://127.0.0.1:8000/login" >Log In</a></label>
                </div>




            </form>
        </div>
        </div>
    </div>
</div>
</body>
</html>
{%endblock%}
